table, td, tr {
    border: solid 1px;
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
}

body{
    background-color: bisque;
}

h1, h2, h3, h4{
    color: rgb(77, 77, 77);
}