table, td, tr {
    border: solid 1px;
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
}

body{
    background-color: bisque;
}

h1{
    color: rgb(28, 28, 28);
}